{% extends 'base.html.twig' %}

{% block title %}New Partenaires{% endblock %}

{% block body %}
    <h1>Create new Partenaires</h1>

    {{ include('partenaires/_form.html.twig') }}

    <a href="{{ path('partenaires_index') }}">back to list</a>
{% endblock %}
