{% extends 'front.html.twig' %}

{% block title %}New Planning{% endblock %}

{% block body %}
    <h1>Create new Planning</h1>

    {{ include('front_planning/_form.html.twig') }}

    <a href="{{ path('front_planning_index') }}">back to list</a>
{% endblock %}
