{% extends 'base.html.twig' %}

{% block title %}Stats{% endblock %}

{% block body %}
    <h1><center>StatS</h1></center>
    <div class="robust-content content container-fluid">
        <div class="content-wrapper">
            <div id="div_chart"></div>

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                {{ gc_draw(piechart, 'div_chart') }}
            </script>

        </div>
    </div>
{% endblock %}


